In [44]:
from pprint import pprint

In [45]:
from pyspark.sql import SparkSession

# New API
spark_session = SparkSession\
        .builder\
        .master("spark://ben-spark-master:7077") \
        .appName("read_weather_data")\
        .getOrCreate()

# Old API (RDD)
spark_context = spark_session.sparkContext

spark_session.read\
    .option("header", "true")\
    .csv('/mnt/nfs/ben-spark-master/teaching/noaa/global-hourly/access/1950/*.csv')\
    .cache()

DataFrame[STATION: string, DATE: string, SOURCE: string, LATITUDE: string, LONGITUDE: string, ELEVATION: string, NAME: string, REPORT_TYPE: string, CALL_SIGN: string, QUALITY_CONTROL: string, WND: string, CIG: string, VIS: string, TMP: string, DEW: string, SLP: string, AA1: string, AY1: string, GA1: string, GA2: string, GA3: string, GF1: string, IA1: string, KA1: string, KA2: string, MD1: string, MW1: string, MW2: string, EQD: string]

In [46]:
print(spark_context.uiWebUrl)

http://ben-spark-master:4040

In [47]:
# Count the files:
#$ find -type f | wc -l
# 2546

# Count the lines in 1 file:
# $cat 10224099999.csv | wc -l
# 8756

# Count the CSV rows:
print(data_frame.count())

1145460

In [48]:
data_frame.printSchema()

root
 |-- STATION: string (nullable = true)
 |-- DATE: string (nullable = true)
 |-- SOURCE: string (nullable = true)
 |-- LATITUDE: string (nullable = true)
 |-- LONGITUDE: string (nullable = true)
 |-- ELEVATION: string (nullable = true)
 |-- NAME: string (nullable = true)
 |-- REPORT_TYPE: string (nullable = true)
 |-- CALL_SIGN: string (nullable = true)
 |-- QUALITY_CONTROL: string (nullable = true)
 |-- WND: string (nullable = true)
 |-- CIG: string (nullable = true)
 |-- VIS: string (nullable = true)
 |-- TMP: string (nullable = true)
 |-- DEW: string (nullable = true)
 |-- SLP: string (nullable = true)
 |-- AA1: string (nullable = true)
 |-- AY1: string (nullable = true)
 |-- GA1: string (nullable = true)
 |-- GA2: string (nullable = true)
 |-- GA3: string (nullable = true)
 |-- GF1: string (nullable = true)
 |-- IA1: string (nullable = true)
 |-- KA1: string (nullable = true)
 |-- KA2: string (nullable = true)
 |-- MD1: string (nullable = true)
 |-- MW1: string (nullable = true)
 |-- MW2: string (nullable = true)
 |-- EQD: string (nullable = true)

In [49]:
data_frame.rdd.take(1)

[Row(STATION='03135099999', DATE='1950-01-01T00:00:00', SOURCE='4', LATITUDE='55.509444', LONGITUDE='-4.586667', ELEVATION='19.81', NAME='PRESTWICK, UK', REPORT_TYPE='FM-12', CALL_SIGN='99999', QUALITY_CONTROL='V020', WND='130,1,N,0026,1', CIG='22000,1,C,N', VIS='006000,1,N,9', TMP='+0033,1', DEW='+0028,1', SLP='10263,1', AA1=None, AY1='1,1,99,9', GA1=None, GA2=None, GA3=None, GF1='05,99,1,99,9,00,1,99999,9,03,1,00,1', IA1=None, KA1=None, KA2=None, MD1='2,1,006,1,+999,9', MW1='02,1', MW2=None, EQD='Q01+000002SCOTLC')]

In [50]:
data_frame.rdd.getNumPartitions()

39

In [51]:
data_frame.select('NAME').distinct().take(10)

[Row(NAME='PAVELETS, RS'),
 Row(NAME='DZARDZAN, RS'),
 Row(NAME='UST MAJYA, RS'),
 Row(NAME='OKSOY FYR, NO'),
 Row(NAME='LIMNOS ISLAND AIRPORT, GR'),
 Row(NAME='DANMARKSHAVN PORT, GL'),
 Row(NAME='MUKHINO, RS'),
 Row(NAME='VALKENBURG, NL'),
 Row(NAME='UST PORT UST ENISEISK, RS'),
 Row(NAME='TURINSK, RS')]

In [52]:
data_frame.select('NAME').distinct().count()

571

SyntaxError: invalid syntax (<ipython-input-53-7facbd5f2568>, line 1)